<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>在线式机器学习算法运行可视化系统</title>
    <link rel="stylesheet" href="{{ static_url('oml_css.css') }}">
    <script src="../static/echarts.js"></script>
</head>

<body>
    <div class="main_title">
        <h1>在线式机器学习算法运行可视化系统</h1>
    </div>
    <div class="left_contr">
        <button onclick="ws_send_button(message='start')">开始</button>
        <button onclick="ws_send_button(message='continue')">继续</button>
        <button onclick="ws_send_button(message='stop')">停止</button>
    </div>
    <div class="right_display">
        <div class="display_top">
            <div class="diagram1">
                <!-- <h3>1 title</h3> -->
                <div id="tu1"></div>
                <h4 id="data1">Loss:</h4>
            </div>
            <div class="diagram2">
                <!-- <h3>2 title</h3> -->
                <div id="tu2"></div>
                <h4 id="data2">Accuracy:</h4>
            </div>
        </div>
        <!-- <div class="display_bottom">
                <div class="diagram3">
                    <h3>3 title</h3>
                    <div></div>
                    <h4 id="data3">xxx</h4>
                </div>
            </div> -->
    </div>

    <script>
        var xgroup = [];
        var x = 0;
        var liney = [];
        var liney2 = [];
        // Websocket
        var ws = new WebSocket("ws://localhost:8123/oml");
        ws.onopen = function () {
            // Web Socket 已连接上，使用 send() 方法发送数据
            ws.send("建立连接");
        };

        ws.onmessage = function (evt) {
            var received_msg = '[' + evt.data + ']';
            received_msg = JSON.parse(received_msg)
            console.log(received_msg);
            x = x + 1;
            xgroup.push(x);
            var y = received_msg[0].y_loss;
            var y2 = received_msg[0].y_acc;
            liney.push(y);
            liney2.push(y2);
            display(received_msg);
        };

        ws.onclose = function () {
            // 关闭 websocket
            console.log("连接已关闭...");
        };
        function ws_send_button(message) {
            ws.send(message)
        }

        function display(message) {
            document.getElementById("data1").innerHTML = "    Loss:" + Math.round(message[0].y_loss * 10000) / 10000;
            document.getElementById("data2").innerHTML = "    Accuracy:" + Math.round(message[0].y_acc * 10000) / 100 + '%';
        }

        // Loss 图表
        var myChart1 = echarts.init(document.getElementById('tu1'));
        var option1 = {
            title: {
                text: 'Loss'
            },
            color: 'green',
            tooltip: {},
            xAxis: {
                boundaryGap: false,
                data: xgroup
            },
            yAxis: {
                boundaryGap: false,
                type: 'value',
                data: ['0', '1', '2', '3']
            },
            series: [{
                name: 'type1',
                type: 'line',
                data: liney
            }]
        };
        setInterval(function () {
            myChart1.setOption(option1);
            myChart2.setOption(option2);
        }, 2000);

        //ACC 图表
        var myChart2 = echarts.init(document.getElementById('tu2'));
        var option2 = {
            title: {
                text: 'Accuracy'
            },
            tooltip: {},
            xAxis: {
                boundaryGap: false,
                data: xgroup
            },
            yAxis: {
                boundaryGap: false,
                type: 'value'
            },
            series: [{
                name: 'type1',
                type: 'line',
                data: liney2
            }]
        };
    </script>
</body>

</html>